Dockerfile
.dockerignore
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.next
.env*
.git
.gitignore
README.md
.DS_Store
*.tsbuildinfo
coverage
.nyc_output
.vercel
*.md
.last-sync-commit
scripts/
.github/
backup/ 